@model IEnumerable<VermittlungsPlattform.Models.Db.Menu>

@{
    ViewData["Title"] = "Index";
}



<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">Menu</div>
    <div class="card-body">
        <div class="container">
            <div class="row pt-4 pb-2">

                <div class="col-12 text-end">
                    <a asp-controller="Menus" asp-action="Create" class="btn btn-primary">Create New Menu <i class="bi bi-plus-circle"></i></a>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>
                             Name
                        </th>
                        <th>
                            Link
                        </th>
                        <th>
                            Type
                        </th>



                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var obj in Model.OrderBy(u => u.MenuTitle))
                    {
                        <tr>
                            <td>@obj.MenuTitle</td>
                            <td>@obj.Link</td>
                            <td>@obj.Type</td>

                            <td style="width:300px">
                                <div class="btn-group d-flex justify-content-center ">
                                    <a asp-controller="Menus" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary me-2"><i class="bi bi-pencil-square"></i> Edit</a>
                                    <a asp-controller="Menus" asp-action="delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>

        </div>

    </div>
</div>

