@using VermittlungsPlattform.Models.Db
@model VermittlungsPlattform.Models.Db.PraktikumStelle
@using System.Security.Claims;
@{
    ViewData["Title"] = "StelleDetails";
    var Company = ViewData["Company"] as List<VermittlungsPlattform.Models.Db.UnternehmenProfile>;
    var Stelle = ViewData["Stelle"] as List<VermittlungsPlattform.Models.Db.PraktikumStelle>;
    var stellebewerbung = ViewData["stellebewerbung"] as List<VermittlungsPlattform.Models.Db.StelleBewerbung>;

    var userIdString = User.FindFirstValue(ClaimTypes.NameIdentifier);


    int userId = int.Parse(userIdString);  // Convertir l'ID utilisateur de string à int

    
    
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Company details page for " name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Styles -->
    <style>
        .slider {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin: auto;
            overflow: hidden;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

            .slides img {
                width: 100%;
                border-radius: 5px;
                height: 300px;
            }

        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
    </style>
</head>

<body class="bg-light">
    <!-- Header End -->
    <div class="container-xxl mt-3">
        <div class="container-xxl mt-3">
            <div class="bg-dark text-white rounded-lg p-6 mb-8 shadow-lg">
                <h1 class="display-4">@Model.Title</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
                        <li class="breadcrumb-item">/</li>
                        <li class="breadcrumb-item"><a href="/Stelleangebote" class="text-white">Stelleangebote</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Job Detail Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-5">
                        @{
                            var obj = Company.Where(x => x.Id == Model.UnternehmenProfileId);
                            foreach (var item in obj)
                            {
                                <a href="/Unternehmen/CompanyDetails/@item.Id">
                                    <img class="img-fluid " src="/images/LogoCompany/@item.ImageName" alt="@item.Name Logo" style="width: 100px; height: 100px;">
                                </a>
                            }
                        }

                        <div class="ms-4">
                            <h3 class="mb-3">@Model.Title</h3>
                            <span class="text-muted me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Location</span>
                            <span class="text-muted me-3"><i class="far fa-clock text-primary me-2"></i>@Model.Arbeitsyp</span>
                            <span class="text-muted"><i class="far fa-money-bill-alt text-primary me-2"></i>@((int)Model.Gehalt)€ </span>
                        </div>
                    </div>

                    <div class="bg-white p-4 rounded-lg shadow-sm">
                        <h3 class="h5 font-weight-bold mb-4">Job Description</h3>
                        <p>@Html.Raw(Model.Description)</p>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="bg-white rounded-lg shadow-sm p-4 mb-4">
                        <h4 class="h5 font-weight-bold text-dark">Stelle Infos</h4>
                        <p class="text-muted mb-3"><i class="fa fa-calendar-alt text-primary me-2"></i><strong>Gepostet am:</strong> @Model.CreateDate</p>
                        <p class="text-muted mb-3"><i class="fa fa-industry text-primary me-2"></i><strong>Branche:</strong> @Model.Branche</p>

                        @if (!string.IsNullOrEmpty(Model.Skills))
                        {
                            var tags = Model.Skills.Split(",");
                            <div class="mt-4">
                                <p class="text-muted mb-2"><i class="fa fa-wrench text-primary me-2"></i><strong>Skills:</strong></p>
                                <div class="d-flex flex-wrap gap-2">
                                    @foreach (var item in tags)
                                    {
                                        <a href="/Stelleangebote/Search?SearchText=@item" class="btn btn-outline-primary btn-sm">@item</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-4">
                        @if (stellebewerbung.Any(x => x.UserId == userId && x.StelleId == Model.Id))
                        {
                            <a class="btn btn-secondary btn-lg" disabled>
                                Schon beworben
                            </a>
                        }
                        else
                        {
                            <a href="/Stelleangebote/Apply/@Model.Id" class="btn btn-primary btn-lg">
                                Weiter zur Bewerbung
                            </a>
                        }


                    </div>


                </div>

            </div>

        </div>
    </div>
    <!-- Job Detail End -->
   

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
